.customTable {
  text-align: center;
}
.customTable table {
  /* box-shadow: inset 0 0 4px 0px rgba(136, 152, 170, 0.15); */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02);
}

.customTable .table th,
.customTable .table td {
  vertical-align: middle;
  padding: 1.5rem 1rem;
  border-top: 0;
  /* border-bottom: 1px solid #e9ecef; */
  border-bottom: none !important;
  font-size: 16px;
  /* white-space: nowrap; */
}
.customTable tbody tr td:last-child {
  min-width: 130px;
}

.customTable .table th {
  /* color: #bfc5d2; */
  font-size: 14px;
  padding: 1rem 1.5rem;
}
.customTable .table td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  padding: 5px !important;
  text-align: center;

  color: #555555;
}

/* .customTable .table .tableBody tr:last-child td {
  border-bottom: 0;
} */
.customTable .table .tableBody tr {
  background-color: #fff;

  border-bottom: 1px solid #c4c4c4;
}

.fixedHeightTable .react-bootstrap-table {
  height: 100%;
  /* max-height: 50vh;
  min-height: 500px; */
  /* padding-left: 100px; */
}

.fixedHeightTable table th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.customTable {
  text-align: center;
}
.customTable table {
  /* box-shadow: inset 0 0 4px 0px rgba(136, 152, 170, 0.15); */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02);
}

.customTable .table th,
.customTable .table td {
  vertical-align: middle;
  padding: 1.5rem 1rem;
  border-top: 0;
  /* border-bottom: 1px solid #e9ecef; */
  font-size: 16px;
  white-space: nowrap;
}
.customTable tbody tr td:last-child {
  min-width: 130px;
}

.customTable .table th {
  /* color: #bfc5d2; */
  font-size: 14px;
  padding: 1rem 1.5rem;
}

/* .customTable .table .tableBody tr:last-child td {
  border-bottom: 0;
} */
.customTable .table .tableBody tr {
  background-color: #fff;
}
.thead-dark th {
  white-space: nowrap;
}
.react-bootstrap-table table {
  table-layout: auto !important;
}
.table-responsive {
  width: 100% !important;
  text-align: center !important;
}
.table .thead-dark th {
  text-align: center;
  color: #ffffff !important;
  background-color: #8b84d7 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.react-bootstrap-table-pagination {
  padding: 5px !important;
}
.react-bootstrap-table-pagination ::before {
  /* content: "Read this: " !important; */
}
