:root {
  --topspace: 80px;
  --offset: 280px;
  --inputHeight: 49.55px;
  --ck-border-radius: 10px;
  --border-radius-default: 10px;
  --ck-z-default: 10555 !important;
  --ck-z-modal: calc(var(--ck-z-default) + 999) !important;
  --pointer: pointer;
}

body {
  margin: 0;
  /* padding-top: var(--topspace); */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  /* min-width: 1320px; */
  color: #000;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover,
.btn.btn-link,
.btn.btn-link:hover {
  text-decoration: none;
  color: #000;
}
.mw-100 {
  min-width: 100px;
}
.mw-200 {
  min-width: 200px;
}
.mw-250 {
  min-width: 250px;
}
.mw-300 {
  min-width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15);
}
.dropdown-menu ul li {
  padding: 8px 12px;
}
.dropdown-menu.min-14 {
  min-width: 14rem;
}

.dropdown-menu::after {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: -13px;
  right: 14px;
}

.btn.btn-link:focus {
  box-shadow: none;
}

header.main {
  height: var(--topspace);
  display: flex;
  align-items: center;
  background-color: #fff;
  position: fixed;

  width: 100%;
  top: 0;
  z-index: 9991;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 0.08);
}

header.main .logo {
  max-height: 40px;
  object-fit: contain;
  /* padding-left: 85px; */
  padding-left: 5px;
}

.dashboardMain {
  display: flex;
  border-top: 0;
  /* min-height: calc(100vh - var(--topspace)); */
  min-height: calc(100vh - var(--topspace) + 10px);
  width: 100%;
  /* margin-bottom: 50px; */
  /* margin: 50px 0; */
  padding: 0 !important;
  /* box-shadow: 0 0 15px rgba(21, 120, 162, 0.25); */
}
.dashboardMain aside {
  width: var(--offset);
  height: 100%;
  background: #fff;
  /* top: 100px; */
  overflow: hidden;
  outline: none;
  /* border-right: 1px solid rgba(21, 120, 162, 0.1); */
  padding: 0;
  /* margin-top: 20px; */
  /* padding-bottom: 120px; */
  /* padding-right: 40px; */
  position: fixed;
  background-color: #fff;
  z-index: 1;
  overflow-y: auto;
}
.dashboardMain aside ul {
  margin-top: 20px;
}
.dashboardMain aside ul.sidebarSubMenu {
  margin-top: 0;
}

/* scrollbar */
.dashboardMain aside::-webkit-scrollbar {
  width: 4px;
}
.dashboardMain aside::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
.dashboardMain aside::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.dashboardMain aside::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customScroll::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
.customScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar {
  background-color: #ffffff;
  margin-top: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li a {
  width: 100%;
  display: block;
  padding: 10px 10px;
  padding-left: 20px;
  color: #c5b4e3;
  position: relative;
  text-decoration: none;
}
.sidebar ul li a span {
  line-height: 1;
  vertical-align: middle;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c5b4e3;
}
.sidebar ul li a span:hover {
  color: #8c84d7;
}

.sidebar ul li a:hover {
  text-decoration: none;
}
.sidebar ul a.active,
.sidebar ul li a:hover {
  background-color: #eceafe;
  color: #ffffff;
  text-decoration: none;
  background: #8b84d7;
}

.sidebar ul a.active::before {
  /* content: url("./assets/images/left-arrow.svg"); */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  margin-top: 2px;
}
.sidebar img {
  max-width: 20px;
  object-fit: contain;
  margin: 0 10px;
}

.sidebar ul li button {
  width: 100%;
  display: block;
  padding: 10px 10px;
  color: #c5b4e3;
  position: relative;
  text-align: left;
  padding-left: 20px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.sidebar ul li button:focus {
  outline: none;
  text-decoration: none;
  border-radius: 0;
  box-shadow: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #c5b4e3 !important;
}

/* .sidebar ul li button :hover {
  color: #FFFFFF;

} */
.sidebar .accordion-item {
  border: none !important;
}
.sidebar ul li .accordion-header:hover,
.sidebar ul li button:hover {
  outline: none;
  background-color: #8b84d7;
  color: #ffffff !important ;
  text-decoration: none;
  border-radius: 0;
  font-weight: normal;
  border-radius: 0;
  box-shadow: none;
}
/* .sidebar ul li .accordion:hover {
  outline: none;
  background-color:  #8B84D7;
  color: #FFFFFF ;
  text-decoration: none;
  border-radius: 0;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
} */
.sidebar ul li .accordion-body {
  padding: 0px !important;
}
.sidebar ul li .accordion-body ul li a {
  padding-left: 55px;
}
.sidebar ul li .accordion-body ul {
  margin-top: 0px;
}

.sidebar .sidebarSubMenu a {
  padding-left: 55px;
}
.sidebar .sidebar-arrow {
  margin-left: auto;
}
/* .sidebar .accordion-button:not(.collapsed) {
  color: #a4a6b3 !important;
} */

/*------------- right content------------------ */

.rightContent {
  margin-left: var(--offset);
  width: 100%;
  max-width: 100%;
  background: #f6f6f6;
  padding: 0px 0px 0px 0px;
  overflow-y: auto;

  /* padding: 30px; */
}

/*--------------------- header------------------------ */

.rightContents {
  width: 100%;
  background-color: #8c84d7;
  padding: 10px;
}
.headed {
  position: sticky;
  z-index: 5;
  top: 0;
  height: 60px;
}
.head {
  margin: 0 auto;
  background-color: #fff;
}
.logo {
  width: var(--offset);
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
}
.logo img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -8px;
}
.headerinprogress {
  /* max-width: 200px; */
  border: 1px solid;
  border: none;
  padding: 12px;
  margin-top: 5px;
  color: #fcfcfd;
  border-radius: 5px 0px 0px 5px;
  border-right: 2px solid;
}
.view {
  padding: 5px;
  color: #fcfcfd;
  text-decoration: underline;
}
.view:hover {
  padding: 5px;
  color: #f0f0f0;
  text-decoration: underline;
}
.dot {
  height: 45px;
  width: 45px;
  font-size: 18px;
  background-color: #6ecdb9;
  border-radius: 50%;
  color: #eceafe;
  text-align: center;
  cursor: pointer;
  border: none;
}
.dot:hover {
  outline: none;
}
.pro-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 1%;
  line-height: 2%;
  color: #ebebee;
}
/*-------------------------Header-mediaquerry------------------*/
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .headed {
    display: flex;
    flex-direction: column;
  }
  .head {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header {
    display: flex;
    justify-content: center;
    height: 30px;
  }
  .logo img {
    padding-top: 10px;
    margin-top: -20px;
  }
  .dot {
    display: none;
  }
  .pro-name {
    display: none;
  }
  .headerinprogress {
    border-right: none;
    margin-top: 5px;
  }
}

/*------------------------ Admin login ------------------------*/
.email {
  width: 75%;
  height: 45px;
  color: #c4c4c4;
}
.admin {
  background: linear-gradient(297.1deg, #6ecdb9 2.11%, #8c84d7 99.69%);
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}
.retailHeading {
  color: #8c84d7;
  margin-left: 16px;
  margin-top: -10px;
  margin-bottom: -45px;
  font-size: 24px;
  font-weight: 500;
}
.search {
  margin-top: 10px;
}
.searchbar {
  display: flex;
  justify-content: space-between;
}
.btn-one {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 25px;
}
.btn-one button {
  color: white;
  background: #8c84d7;
  border-radius: 6px;
  border: none;
  outline: none;
  height: 48px;
  width: 224px;
  left: 1172px;
  top: 181px;
  border-radius: 6px;
  padding: 16px, 10px, 16px, 10px;
}
.Octo {
  width: 100%;
  position: relative;
  top: 40px;
}
.ordered {
  color: white;
}
.login {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 34%;
  height: 362px;
  background-color: #fff;
  border: none;
  font-size: 36px;
  color: #555555;
  border-radius: 10px;
  padding-top: 30px;
}

.login-box-center {
  display: flex !important;
  justify-content: center !important;
}
.submit {
  width: 75%;
  height: 35px;
  font-size: 14px;
  background-color: #8c84d7;
  color: #fff;

  margin-top: 80px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.eye {
  font-size: 18px;
  top: 5px;
  right: 5px;
  position: absolute;
  color: #c4c4c4;
  cursor: pointer;
}
.password {
  position: relative;
}
/*-------------Adminlogin-mediaquerry------------------*/

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .admin {
    background: linear-gradient(297.1deg, #6ecdb9 2.11%, #8c84d7 99.69%);
    width: 130%;
    height: 600px;
    text-align: center;
    position: absolute;
  }
  .login {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 350px;
    height: 300px;
    background-color: #fff;
    border: none;
    font-size: 36px;
    color: #555555;
    border-radius: 10px;
    padding-top: 30px;
  }
  .email {
    width: 200px;
    height: 45px;
  }
  /* .eye {
    font-size: 18px;
    left: 75px;
    top: -32px;
    position: relative;
    color: #c4c4c4;
    cursor: pointer;
  } */
  .submit {
    width: 200px;
    height: 35px;
    font-size: 14px;
    background-color: #8c84d7;
    color: #fff;

    margin-top: 80px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .email {
    width: 75%;
    height: 45px;
    color: #c4c4c4;
  }
  .admin {
    background: linear-gradient(297.1deg, #6ecdb9 2.11%, #8c84d7 99.69%);
    width: 100%;
    height: 180% !important;
    text-align: center;
    position: absolute;
  }

  .login {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 34%;
    height: 362px;
    background-color: #fff;
    border: none;
    font-size: 36px;
    color: #555555;
    border-radius: 10px;
    padding-top: 30px;
  }

  .submit {
    width: 75%;
    height: 35px;
    font-size: 14px;
    background-color: #8c84d7;
    color: #fff;

    margin-top: 80px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  .eye {
    font-size: 18px;
    left: 115px;
    top: -35px;
    right: 0;
    position: relative;
    color: #c4c4c4;
    cursor: pointer;
  }
}
/*------------------------Modal Popup-------------------------*/
/* .modal-content {
  width: 900px!important;
  height: auto ;
  } */
.main {
  width: 40%;
  /* margin: 50px auto; */
}
.line {
  margin-top: -9px;
}
/*-------------- Bootstrap 4 text input with search icon ------------------- */

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 30px;
  padding: 5px 10px;
}

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.16rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.rightContent .nav-link {
  text-align: center !important;
}
.nav-pills .nav-link {
  border-radius: 0px !important;
}
.rightContent .nav-item {
  border: 1px solid #c4c4c4;
  /* border-radius: 5px !important; */
  width: 100%;
  cursor: var(--pointer);
}
.rightContent .nav-item {
  border: 1px solid #c4c4c4;
  border-radius: none;
  width: 100%;
}
.rightContent .nav-pills .nav-link {
  border-radius: none !important;
}
.rightContent .nav-pills .nav-link.active {
  background-color: #8c84d7;
}
.rightContent .nav-pills .nav-link {
  border-radius: none !important;
}
.rightContent .nav-item a {
  color: #555555;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.rightContent .nav-item a {
  color: #555555;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.order-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
}
.order .card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.order .card .card-bg1 {
  background: linear-gradient(90deg, #ff940d 4.78%, #f04511 110.58%);
}
.order .card .card-bg2 {
  background: #ffffff;
  color: #8c84d7;
  color: #555555;
}

.order .card .content-left ul li {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/* .order .card .content-right {

} */
.content-right {
  text-align: end !important;
}

.order .card .content-right p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}
.order .card .content-right .prescription {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}
.order .card .content-right a {
  text-decoration: underline;
}

.order .card .content-right img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.order .card .content-right .drug-img img {
  width: 40px;
  height: 30px;
  object-fit: cover;
}
.order .card .user .drug-img img {
  width: 25px;
  height: 35px;
  padding-bottom: 2px;
}

.order .order-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.order .order-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
}
.order .order-id {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
}
.rightContent .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 27px !important;
}
@media only screen and (max-width: 1200px) {
  .dashboardMain aside {
    display: none;
  }
  .rightContent {
    margin-left: 0;
    padding-top: 50px;
  }
}
.rightContent .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .dashboardMain aside {
    display: none;
  }
  .rightContent {
    margin-left: 0;
  }
}

@media only screen and (max-width: 766px) {
  .rightContent .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order .order-date {
    justify-content: start;
  }
  /* .dashboardMain{

  margin-top: 20vh;
} */
}
.btn {
  border: transparent;
  background: #ffffff !important ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 30px !important;
  cursor: pointer;
  color: #555555 !important;
  border-color: #555555 !important;
}

.bg-red {
  background-color: #f44545 !important;
  border: none;
  border-color: transparent !important;
  color: #ffffff !important;
}
.bg-green {
  background-color: #6ecdb9 !important;
  border: none;
  border-color: transparent !important;
  color: #ffffff !important;
}
.bg-white {
  background-color: #6ecdb9 !important;
  border: none;
  border-color: transparent !important;
  color: #ffffff !important;
}

.btn:focus {
  box-shadow: none !important;
}
.split {
  /* background: #8c84d7; */
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  border: 1px solid #555555;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.splitTop {
  position: absolute;
  top: -40px;
  left: 0px;
  border: 1px solid #8c84d7;
  padding: 10px 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 180px;
  z-index: 1;
  color: #8c84d7;
  border-radius: 5px;
  background-color: #fcfcfd;
}
@media only screen  and (max-width: 320px) {
  .splitTop{
    width: 141px;
  }
  
}
@media only screen  and (max-width: 375px) {
  .splitTop{
    width: 148px;
  }
}
.split-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  padding: 13px 20px;
  border-radius: 0px 0px 0px 0px !important;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card-content {
  display: flex;
  justify-content: space-between;
}

/*------------------------Crud Table-------------------------*/
/* .table-one {
  width: 1300px !important;
} */
.table-one thead {
  text-align: center;
  color: #8c84d7;
  background-color: #f4f2ff !important;
}
.table-one tbody {
  line-height: 21px;
  text-align: center;
  color: #555555;
}
.table-one tbody tr td a {
  color: black;
}
.tableBody tr td a .eye_icon {
  /* margin-left: 50px !important; */
  /* background-color: red !important; */
}
.tableBody tr td a .order_button {
  /* margin-left: 50px !important; */
  /* background-color: green !important; */
}
/*------------------------Crud Table-------------------------*/
.table-one {
  width: 1300px !important;
}
.table-one thead {
  text-align: center;
  color: #8c84d7;
  background-color: #f4f2ff !important;
}
.table-one tbody {
  line-height: 21px;
  text-align: center;
  color: #555555;
}
.table-one tbody tr td a {
  color: black;
}

/* ------------------------crud ends -------------------- */

.rightContent .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* -------------------Dashboard responsives start--------------------*/
@media only screen and (max-width: 1200px) {
  .dashboardMain aside {
    display: none;
  }
  .rightContent {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .dashboardMain aside {
    display: none;
  }
}
@media only screen and (max-width: 766px) {
  .rightContent .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order .order-date {
    justify-content: start;
  }
  .order .order-text {
    justify-content: start;
  }
  .card-content {
    flex-direction: column;
  }
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
/* ---------------------dashboard--------------------------- */
/*------------------------toggle css-------------------------*/
/*
 div .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #000;
  background-color: #000;
}

div.custom-switch.custom-control
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: #6c757d;
  border-color: #6c757d;
}

div .custom-control-label::before {
  border-color: #000;
}
div.rounded {
  border-radius: var(--border-radius-default) !important;
}

div.spinner-border {
  border: 0.25em solid #f5b5a3;
  border-right-color: transparent;
}
*/

/* .order .order-date ,.order .order-text{

justify-content: flex-start;


form.was-validated .form-check-input:valid ~ .form-check-label {
  color: #000;
}

textarea.form-control {
  padding-bottom: 15px;
}

.card-content{


@media only screen and (max-width: 766px) {
  .rightContent .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order .order-date {
    justify-content: start;
  }
   .dashboardMain{

flex-direction: column;
} */

/* -------------------------Map-------------------------- */

.map {
  display: flex;
  flex-direction: column;
  height: 120vh;
  width: 50%;
  margin: 20px;
}
.map1 {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  height: 120vh;
  /* margin: 20px; */
}
.box {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 10px;
}

input textarea {
  padding-left: 20px !important;
}
.map-outline {
  display: flex;
  justify-content: center;
}
.location {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#currentlocation {
  padding-left: 15px !important;
}
.currentlocation {
  position: relative;
}
.icon {
  font-size: 18px;
  margin-top: 6px;
  cursor: pointer;
}
.icon1 {
  font-size: 22px;
  position: absolute;
  bottom: 0px;
  top: 40px;
  left: 5px;
  color: #8c84d7;
}
/* .icon1 {
 
  background: url("./assests/location.png") no-repeat left;
  background-size: 12px;
 padding-left: 25px !important;
  background-position: 10px 8px;
} */

.proceed {
  width: 70% !important;
  /* background-color: #8c84d7 !important; */
}

.button {
  display: flex;
  justify-content: center;
}
.textbox-disable {
  font-size: 12px;
  text-align: right;
}

/* .optional-1 {
  position: absolute;
  top: 560px;
  left: 587px;
} */
.areainput {
  position: relative;
}
.landmarkinput {
  position: relative;
}
.optional-1,
.optional-2 {
  position: absolute;
  top: 8px;
  font-size: 12px;
  right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .map {
    width: 90%;
  }

  .ck.ck-sticky-panel__content.ck-sticky-panel__content_sticky {
    z-index: 1;
  }

  .font-black {
    color: #000;
  }
  .fontBlacks label {
    color: #000 !important;
  }

  div.top-auto {
    top: auto !important;
  }
}

@media screen and (max-width: 320px) {
  /* .icon1 {
    font-size: 22px;
    position: absolute;
    top: 332px;
    left: 40px !important;
    color: #8c84d7;
  } */
  /* .optional-1 {
    position: absolute;
    top: 457px;
    left: 215px !important;
  } */
  /* .optional-2 {
    position: absolute;
    top: 518px;
    left: 215px !important;
  } */
}

@media screen and (min-width: 330px) and (max-width: 375px) {
  /* .optional-1 {
    position: absolute;
    top: 457px;
    left: 270px !important;
  } */
  /* .optional-2 {
    position: absolute;
    top: 518px;
    left: 270px !important;
  } */
}
@media screen and (min-width: 380px) and (max-width: 425px) {
  /* .optional-1 {
    position: absolute;
    top: 457px;
    left: 320px !important;
  } */
  /* .optional-2 {
    position: absolute;
    top: 518px;
    left: 320px !important;
  } */
}
@media screen and (min-width: 430px) and (max-width: 768px) {
  /* .optional-1 {
    position: absolute;
    top: 457px;
    left: 640px !important;
  }
  .optional-2 {
    position: absolute;
    top: 518px;
    left: 640px !important;
  } */
}

/* -----------------------------map end ------------------------ */

/* ----------------Date Picker------------------------- */

.react-datepicker {
  display: flex !important;
  flex-direction: column !important;
}
.coupon-datepicker input {
  width: 100% !important;
  padding: 8px 0px 6px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.coupon-RiCalendarTodoFill {
  position: absolute;
  z-index: 2 !important;
  top: 13px;
  left: 20px;
  font-size: 1.1rem;
  color: #8b84d7;
  cursor: pointer;
}

.datepicker {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-range {
  background-color: #8c84d7 !important ;
}

.react-datepicker-wrapper {
  width: 100% !important;
}
.datepicker-button {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  gap: 10px;
}
.cancel-button {
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  outline: none;
  background-color: white;
  width: 50%;
  height: 30px;
}
.choosedate-button {
  background: #8c84d7;
  border-radius: 6px;
  color: white;
  border: none;
  outline: none;
  width: 50%;
  height: 30px;
}
.filter-status-outline {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px !important;
}

.react-datepicker-popper {
  z-index: 3 !important;
}
.filter-status {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
}


/* --------------Date Picker End------------------- */

.ck.ck-sticky-panel__content.ck-sticky-panel__content_sticky {
  z-index: 1;
}

.font-black {
  color: #000;
}
.fontBlacks label {
  color: #000 !important;
}

div.top-auto {
  top: auto !important;
}

/*-------------------- View Retail ---------------------------*/
.color-text {
  color: #8c84d7;
}
.order-text {
  font-size: 24px;
}
.order-date {
  font-size: 14px;
}
.retailStore-detail {
  /* margin-right: 210px !important; */
  width: 70%;
}
.product-details {
  overflow-x: auto;
}
.product-details table {
  border-collapse: collapse;
  width: 99%;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.product-details th {
  background-color: #8c84d7;
  color: #ffffff;
  padding: 20px !important;
}
.product-details td {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  /* border-right: 1px solid lightgray; */
  padding: 18px !important;
}

.product-details th,
td {
  text-align: left;
  padding: 8px;
  text-align: center;
}
.total-txt {
  border-top: 1px solid lightgray;
}
.total-txt .lable {
  text-align: end;
}
.retailStore-text {
  font-size: 18px !important;
}
.retailStore-col{
  margin-left: 20px;
}

/*--------------- image upload ------------------*/

/*---------------------Modal Popup-------------------------*/
button:active {
  outline: none !important;
}

/* --------------------------------- image upload ----------------------*/

.imgUploadBox {
  width: 50px !important;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  left: 14px;
}
.imgUploadBox input {
  opacity: 0;
  user-select: none;
  position: absolute;
  cursor: pointer;
  background: red;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 9;
}
.imgUploadBox svg {
  color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  z-index: 1;
  pointer-events: none;
}
.imgUploadBox::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 29px;
  height: 29px;
  background-color: #fff;
  z-index: 1;
  pointer-events: none;
}

/*------------- Dashboard responsives end-----------------*/

/*----------------------Dashboard responsives end----------------------*/

.imgUploadBox small {
  position: absolute;
  top: calc(50% + 35px);
  transform: translateY(-50%);
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.imgUploadBox + .err-feedback {
  display: block;
  left: unset;
  transform: none;
}
#addLevels .imgUploadBox + .err-feedback {
  top: calc(50% + 85px);
}
.imgUploadBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.save {
  /* background-color: #8c84d7 !important; */
  width: 160px !important;
  height: 48px !important;
}
.cancel {
  background-color: #fff !important;
  color: #555555 !important;
  border: 1px solid #555555 !important;
  width: 160px !important;
  height: 48px !important;
}
.upload {
  margin-bottom: 50px !important;
}

.input-background {
  background-color: #ededed !important;
  /* border: none!important; */
}
.icon-box {
  border: 1px solid lightgray;
  border-radius: 5px;
}
.close-btn-bgColor {
  color: black !important;
  /* background-color: #8c84d7 !important; */
  border: 1px solid black !important;
}
.remove-txt {
  margin-left: 35px !important;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 320px)and (max-width: 500px) {
  .edit-cancel{
    position: relative;
    left: 20px;
  }
  .edit-save {
    position: relative;
    left: 20px;
  }
}


.logout-btns {
  border: none !important;
}
.logout-no-btn {
  background-color: white;
  color: #000;
  padding: 3px !important;
}

.logout-yes-btn {
  background-color: white;
  color: #000;
}

/* ---------------------------------Dropdown-------------- */
.logout-no-btn:hover {
  background-color: #6ecdb9 !important;
  color: #fff !important;
  border: none;
}
.logout-double-btns {
  margin-left: 22%;
}
/* ---------------------------------Dropdown-------------- */

.select-category {
  width: 432px;
  height: 45px;
  border-radius: 3px;
  border-color: #c4c4c4;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  color: green;
}

input::-webkit-datetime-edit {
  position: relative;
  left: 15px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}
.drop-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 9999; /*this will keep the icon appearing all time, even when on input::focus*/
}

/* /-----------orderProgress------/ */

.splitWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.marker {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #8c84d7;
  background: #8c84d7;
}
.lableWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.lableWrapper .text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 0px;
}
.lableWrapper .date {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #8c84d7;

  margin-bottom: 0px;
}
.dividervertical {
  min-height: 100px;
  display: flex;
}
.dividerWrapper {
  width: 3px;
  min-height: 100px;
  margin-left: 9px;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: #8c84d7;

  border-radius: 10px;
}
.hrline {
  border: 1.5px solid rgba(236, 13, 13, 0.62);
  max-width: 450px;
  margin: 20px 0;
  background: "red";
  background-color: #000;
}
.text-size {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
}
.orderProfile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* -------------------orederResposive------------------- */

@media only screen and (max-width: 766px) {
  .orderProfile {
    flex-direction: column;
  }
  .lableWrapper .text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 0px;
  }
  /* .dashboardMain{

  margin-top: 20vh;
} */
}

form.was-validated .form-check-input:valid ~ .form-check-label {
  color: #000;
}
/* 
div .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #000;
  background-color: rgb(175, 5, 5) !important;
  cursor: pointer !important;
} */

div.custom-switch.custom-control
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: #6c7d6d;
  border-color: #6c757d;
  cursor: pointer !important;
}

/* div .custom-control-label::before {
  border-color: #000;
} */
div.rounded {
  border-radius: var(--border-radius-default) !important;
}

/* div.spinner-border {
  border: 0.25em solid #f5b5a3;
  border-right-color: transparent;
} */

.layoutWrapper {
  display: flex;
  height: 100vh;
}
.navbarSection {
  width: 300px;
  height: 100%;
  background: #ffffff;
  /* border-radius: 0px 40px 40px 0px; */
}
.hamburger-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 35px;
    z-index: 10;
    background-color: transparent;
    color: #fff;
  }
}

/*------------------------Crud Table-------------------------*/
/* Styles for wrapping the search box */
.main {
  width: 20%;
  /* margin: 50px auto; */
}

/* --------Bootstrap 4 text input with search icon ----------*/
.has-search .form-control {
  padding-left: 2.375rem;
  background-color: #eceafe;
  outline: none;
  border: none;
  background: #f4f2ff;
  border-radius: 6px;
}
.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #8c84d7;
  outline: none;
  border: none;
}

.search-button-table {
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: -25px;
  /* width: 1120px; */
  /* left: 286px;
  top: 160px; */
}
.search-border {
  margin-bottom: -40px;
}
.search-and-add {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 20px;
  margin-top: 5px;
  /* margin-bottom: -25px; */
}
/* .search-retail {
  color: #8C84D7;
} */

/* .form-control::-webkit-input-placeholder {
  color: #8c84d7 !important;
} */

/* .form-control::-webkit-input-placeholder {
  color: #8C84D7 !important;
} */

/* .form-control::-webkit-input-placeholder {
  color: #8c84d7 !important;
} */

.search {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 207px;
  height: 40px;
  /* padding-top: 25px; */
}
.add-delivery {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 25px; */
  padding-right: 10px;
  /* margin-bottom: 25px; */
  /* background: #8c84d7;
  border-radius: 6px; */
}
.add-delivery button {
  color: white;
  background: #8c84d7;
  border-radius: 6px;
  border: none;
  outline: none;
  height: 48px;
  width: 224px;
  /* left: 1172px;
  top: 181px; */
  border-radius: 6px;
  padding: 16px, 10px, 16px, 10px;
}
.main-table-one {
  /* overflow-x: hidden !important; */
  overflow-x: scroll !important;
}
.table-one table {
  width: 120% !important;
  /* width: max-content !important; */
  overflow-x: scroll !important;
}

.table-one thead {
  text-align: center;
  color: #8c84d7;
  background-color: #f4f2ff !important;
}
.table-one tbody {
  line-height: 21px;
  text-align: center;
  color: #555555;
  background: #ffffff;
}
.table-one tbody tr td {
  padding-top: 30px !important;
  line-height: 21px;
  text-align: center;
}
.table-one tbody tr td a {
  color: black;
}

.image {
  color: #8c84d7 !important;
  text-align: center;
  text-decoration-line: underline;
  line-height: 21px;
}
.image:hover {
  color: #8c84d7 !important;
  text-align: center;
  text-decoration-line: underline !important;
  line-height: 21px;
}
/*------------------------toggle css-------------------------*/
.toggle-switch {
  /* display: flex !important; */
  justify-content: flex-end !important;
  /* margin-left: 110px !important; */
  /* position: relative; */
  /* bottom: 22px !important; */
  cursor: pointer !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: black !important;
  border-color: #b69df8 !important;
  background-color: #b69df8 !important;
  cursor: pointer !important;
}
.custom-switch .custom-control-label::after {
  cursor: pointer !important;
}
.custom-control-label::before {
  cursor: pointer !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  cursor: pointer !important;
}
/*------------------------crud table retail pagination css-------------------------*/
.table-one-pagination {
  height: 50px;
  background: #f4f2ff;
  position: relative;
  bottom: 15px;
  border-radius: 0 0 10px 10px;
}
.row-per-page {
  width: 200px;
  margin-left: 15px;
  position: relative;
  top: 10px;
}
.retail_pagination {
  margin-left: 80%;
  position: relative;
  bottom: 25px;
}
.retail_pagination nav ul li a {
  color: black;
  border: none;
  background: #f4f2ff;
}
/* .drop-down-row {

} */
/* .drop-down-pages{
  padding-left: 15px;
  padding-top: 45px;
} */
.drop-down-row select {
  background-color: #f4f2ff !important;
  color: black;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}
.coupon-container {
  margin-top: 30px;
}
.coupon-container .nav-item {
  border: none !important;
  width: 17% !important;
}
.coupon-container .nav-tabs .nav-link {
  border: none !important;
}
.coupon-container .nav-tabs .nav-link.active {
  border: none !important;
}
.coupon-container .nav-tabs .nav-link button:focus.a:focus {
  border: none !important;
  outline: none !important;
}
.coupon-container .intakes {
  background-color: #faf8f8;
  color: #000 !important;
}
.coupon-container .intakes {
  background-color: #faf8f8;
  color: #000 !important;
}
.coupon-container .nav-tabs .nav-link {
  color: #a4a6b3 !important;
  background: transparent;
  outline: none !important;
  border-color: transparent;
}
.coupon-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #8c84d7 !important;
  outline: none !important;
  background: #ffffff !important;
  border-color: transparent;
}
.coupon-container .nav-tabs {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}
.coupon-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs {
  color: #8c84d7 !important;
  background: transparent;
  outline: none !important;
}
/* .react-bootstrap-table table {
    table-layout: auto !important;
  } */

.coupon-container .nav-tabs {
  border-bottom: 0;
}
.coupon-container .nav-tabs .nav-link {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-right: 2.25rem;
  padding-bottom: 25px;
}

.coupon-container.nav-tabs .nav-link:focus,
.coupon-container .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.coupon-container .nav-tabs .nav-link.active {
  font-weight: bold;
}

.coupon-container .nav-tabs .nav-link.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #8c84d7;
  bottom: 0;
  max-width: 40%;
  min-width: 25px;
  border-radius: var(--border-radius-default);
}
.coupon-container .tabBody {
  margin-top: 10px;
  margin-bottom: -10px !important;
}
.bg-purple {
  background-color: #8c84d7 !important;
}
.bg-blue {
  background-color: #958ce7 !important;
}

.view-order-txt {
  text-decoration: underline;
  font-size: 14px !important;
  cursor: pointer;
}
.manage {
  margin-top: -30px !important;
}
.font {
  font-size: 16px !important;
}
@media only screen and (min-width: 320px)and (max-width: 500px) {
  .search-border{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .font {
    margin-left: 10px;
    max-width: 75%;
    font-size: 14px!important;
  }
  .coupon-container .nav-tabs {
    display: flex;
    gap: 45px;
  }
 }
/*------------------------assain retail popup----------------------*/

.assain_retail {
  width: 100% !important;
  overflow-x: hidden !important;
  align-items: center !important;
}
.assain_retail tbody tr td {
  /* padding-bottom: 30px !important; */
  padding-top: 15px !important;
}
.popupSearch {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

/*------------------------inprogress popup----------------------*/
/* .order_button {
  height: 38px !important;
  width: 132px !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fcfcfd;
  border-radius: 6px !important;
  background: #6ecdb9 !important;
} */
.eye_button {
  display: flex;
  justify-content: center;
}
.eye_icon {
  color: #000 !important;
  cursor: pointer !important;
  margin-top: 10px !important;
  /* margin-right: 150px !important;
  position: relative;
  top: 18px !important;
  right: 10px !important; */
}
.order_button button {
  border-radius: 6px !important;
  /* justify-content: flex-end !important;
  margin-left: 25px !important;
  position: relative;
  bottom: 12px !important; */
}

/* ---------------------drop down end---------------------- */

.bg-white {
  border: 2px solid #555555 !important;
  background: #ffffff !important;
  border-radius: 8px 8px 8px 8px !important;
  color: #555555 !important;
}

/*-----------------------------new pagination css--------------------*/
.row {
  /* width: 1120px !important; */
  /* height: 45px !important; */
  /* background: #F4F2FF!important;  */
  /* position: relative ; */
  /* top: 50px !important; */
  /* left: 10px !important; */
}
.btn-secondary {
  width: 75px !important;
  color: #000 !important;
  background-color: #f4f2ff !important;
  border: 1px solid #c4c4c4 !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  margin-right: 500px !important;
}

.totalpage {
  /* display: flex !important; */
  /* justify-content: center !important; */
  /* align-items: center !important; */
  text-align: end !important;
  display: block !important;
  margin: 0 auto !important;
  position: relative !important;
  /* left: 270px !important; */
  bottom: 35px !important;
}

.pagination {
  display: flex !important;
  justify-content: end !important;
}
.pagination li a {
  color: #555555 !important;
  border: none !important;
  /* background-color: #f4f2ff !important; */
  background-color: white !important;
}
.pagination .active a {
  color: #8c84d7 !important;
  /* background-color: white !important; */
}

.bg-white {
  border: 2px solid #555555 !important;
  background: #ffffff !important;
  border-radius: 8px 8px 8px 8px !important;
  color: #555555 !important;
}

/* ----------------Date Picker------------------------- */

.react-datepicker {
  display: flex !important;
  flex-direction: column !important;
}
.datepicker {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  /* padding-left: 20px; */
  padding: 8px 0px 8px 35px;
  font-size: 0.9rem;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-range {
  background-color: #8c84d7 !important ;
}

/* .react-datepicker-wrapper {
  width: 20% !important;
} */
.datepicker-button {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  gap: 10px;
}
.cancel-button {
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  outline: none;
  background-color: white;
  width: 50%;
  height: 30px;
}
.choosedate-button {
  background: #8c84d7;
  border-radius: 6px;
  color: white;
  border: none;
  outline: none;
  width: 50%;
  height: 30px;
}
.filter-status-outline {
  display: flex;
  justify-content: flex-start;
  /* gap: 20px; */

  /* padding-left: 0px !important; */

  padding-bottom: 0px !important;
}
.calendar-icon {
  position: absolute;
  top: 22%;
  font-size: 1.2rem;
  left: 10px;
  z-index: 5 !important;
  color: #8c84d7;
  cursor: pointer;
}
.dwnld-icon {
  color: white;
  background-color: #8c84d7;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 11px 10px;
}
.down-icon {
  position: absolute;
  right: 5px;
  top: 22%;
  z-index: 5 !important;
  font-size: 0.8rem;
  color: #555;
}

.react-datepicker-popper {
  z-index: 3 !important;
}
.filter-status {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 50px;
}
@media screen and (min-width:320px) and (max-width:500px) {
  .filter-status-outline {
    padding-left: 0px !important;
  }
  .picker{
    padding: 10px;  
  }
  
}
/* --------------Date Picker End------------------- */

/* ---------------single date picker------------------- */

.single-calendar-icon {
  position: relative;
  left: 4px;
  top: 30px;
  z-index: 5 !important;
  color: #8c84d7;
}
.single-datepicker {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 20px;

  width: 300px;
  height: 40px;
  margin-top: 0px;
}
/* ----------------single date picker end -------------- */
.summary-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 4%;
}
.summary-card {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px;
}
.summary-head {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
.summary-count {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  color: #bc84d7;
}
.summary-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #8b84d7;
  display: flex;
  align-items: center;
}
.summary-title .span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-left: 10px;
  color: #555555;
}
.summary-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #8b84d7;
  display: flex;
  align-items: center;
}
.summary-title .span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-left: 10px;
  color: #555555;
}

@media only screen and (max-width: 900px) {
  .summary-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .flex-sm {
    display: flex;
    flex-direction: column;
  }
}

.border-none {
  border: none !important;
}
.dropdown {
  left: 100px !important;
}
.dropdown-menu {
  position: static !important;
  /* top: 100%; */
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 0rem !important;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
/* /-------------------pagination------------------------------/ */
.pagenationwrapper ul {
  display: flex;
  justify-content: space-around;
}
.pagenationwrapper ul li {
  padding: 10px;
}
.pagenationwrapper ul li a {
  color: #000 !important;
  text-decoration: none !important;
}
.page {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  /* 
  letter-spacing: 0.05em; */
}
.page__arrow {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
  cursor: pointer;
  /* 
  letter-spacing: 0.05em; */
}
.pagination-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.per-page {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .pagination-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .per-page {
    width: 70%;
  }
}

/* /----------------------------paginationEnd -----------------------/ */

.error {
  border: 2px solid red !important;
}
.login-btn {
  background-color: #8b84d7 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff !important;
  border: none !important;
}

.close-icon {
  font-size: 20px;
  color: gray;
  cursor: pointer;
  position: relative;
  bottom: 9px;
  left: 8px;
}
.close-icon :hover {
  color: #000;
}
.retail-dropdown {
  margin-right: 3px !important;
  padding-top: 10px;
  /* height: 100px; */
}
.datepicker-length {
  position: relative;
  display: block;
  width: 100%;
}
.retail-dropdown-option {
  height: 41px !important;
}

/*-----------------------------------------Button Hover Color----------------------------------------*/
/*-----------------------------------------Login Hover Color----------------------------------------*/
.login-btn:hover {
  color: white !important;
  background: #8b84d7 !important;
  border: 1px solid #ffffff !important;
}
/*-----------------------------------------Header Modal Hover Color----------------------------------------*/
.headModalBtnHoverBg Button:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
/*--------------------------------------Dashboard Hover Color----------------------------------------*/
.denyHoverBg:hover {
  color: white !important;
  background-color: #6ecdb9 !important;
  border: 1px solid #6ecdb9 !important;
}
.assignHoverBg:hover {
  color: white !important;
  background: #b9abe4 !important;
  border: none;
  /* border-radius: 3px !important; */
  border: 1px solid #ffffff !important;
}
.assignHoverBg:hover > .line-btn {
  background-color: #ffffff;
}
/* .split-btn:hover {
  border-right: 1px solid #eceaf0 !important;
  border-radius: 3px;
} */
.split-icon:hover {
  /* border: 1px solid #b9abe4 !important; */
}
.approveHoverBg:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
/*--------------------------------------Main Button Hover Color----------------------------------------*/
.mainButtonHoverBg Button:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 2px solid #8c84d7 !important;
}

/*----------------------cancel save update---------------------*/

.modalBtnHoverBg .cancel:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
.modalBtnHoverBg .save:hover {
  color: white !important;
  background-color: #6ecdb9 !important;
  border: 1px solid #6ecdb9 !important;
}
.modalBtnHoverBg .update:hover {
  color: white !important;
  background-color: #6ecdb9 !important;
  border: 1px solid#6ecdb9 !important;
}
/*-------------------------------Next Button Hover Color------------------------------*/
.modalNextBtnHoverBg:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}

/*----------------------support popup hover background ------------*/
.close-btn-bgColor:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
/*---------------------Change Address hover background--------------*/
.proceed:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
/*---------------------Logout popup hover background--------------*/
.logout-no-btn:hover {
  color: white !important;
  background-color: #6ecdb9 !important;
  border: 1px solid#6ECDB9 !important;
}
.logout-yes-btn:hover {
  color: white !important;
  background: #8c84d7 !important;
  border: 1px solid #8c84d7 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.line-btn {
  width: 1px;
  background-color: #555555;
  height: 100%;
}
.error-msg {
  font-size: 10px;
  font-weight: normal;
  border: none !important;
  text-align: start;
  display: block;
  color: red;
}

.modal-40w {
  width: 25% !important;
}
.modal-70w {
  width: 100% !important;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .select-category {
    width: 100% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 577px) {

  .card-content {
    flex-direction: column;
  }
}


/*-------------------------------Logout Responsive---------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 380px) {
 .modal-40w{
   width: 95% !important;
 }
}
@media only screen and (min-width: 380px) and (max-width: 425px) {
  .modal-40w{
    width: 85% !important;
    padding-left: 50px;
  }
 }
@media only screen and (min-width: 430px) and (max-width: 780px) {
  .modal-40w{
    width: 40% !important;
  }
}
.modal.fade {
  /* background: rgba(0,0,0,0.5); */
  background: rgba(102, 98, 98, 0.5);
}
